%h1 撮影の流れと料金について
%section
  %h2 takugraphについて
  %p
    takugraphは、カップル・ウェディング・家族写真の出張撮影サービスです。
  %p
    撮影時は、遠くから撮影したり、目線やポーズを多く求めないことで、緊張していないいつもの自然なお姿を撮影できるように心がけています。
%section
  %h2 プランと料金
  %h3 ベーシックプラン
  %p ＼　平日休日いつでも同じ値段　／
  %p ¥16,000(税別)
  %h4 料金に含まれる内容
  %ul
    %li カメラマン出張料
    %li 写真撮影料(1~2時間)
    %li 写真データ10枚(追加購入可)
  %h3 追加オプション
  %h4 カメラマン指名オプション
  %p お好きなカメラマンを指名できます。また、カメラマンによって指名料は異なります。
  %h4 写真追加購入オプション
  %p 1枚 ¥1,000(税別)
  %p 撮影後に追加購入できます。
  %h4 イラストオプション
  %p 1枚 ¥5,000(税別)
  %p 撮影した写真をイラストレーターがイラストにします。(撮影から2週間ほどでデータをお届け)
  %p お支払い方法：クレジット・コンビニ・銀行振込
%section
  %h2 Flow撮影の流れ
  %ul
    %li
      %h3 1. 撮影のお申込み
      %p 申し込みフォームから申込みます。お電話でも申込み頂けます。
    %li
      %h3 2. お支払い
      %p ラブグラフからお支払いURLが記載されたメールが届くため、そちらよりお支払いください。
    %li
      %h3 3.担当カメラマンと連絡
      %p 担当のカメラマンから連絡が来たら場所や撮影に関して相談しましょう。
    %li
      %h3 4. 写真撮影
      %p 事前にカメラマンと決めた場所で写真撮影をします。(1-2時間目安)
    %li
      %h3 5. お好きな写真を選択
      %p カメラマンから写真が届いたらお好みの写真を選びます。(撮影後1週間以内)
  = link_to "撮影申込みはこちらから"
