<div class="page-header">
  <h1>写真一覧</h1>
</div>

<table>
  <% @albums.each do |album| %>
    <th>
      <td><%= link_to image_tag(album.photographs[0].thumb.url),album %></td>
    </th>
  <% end %>
</table>
