= render 'layouts/header'
%page-header.index_header
  %h1.index_title 写真一覧
%table.container
  - @albums.each do |album|
    %th
      %td= link_to image_tag(album.photographs[0].url(:thumb)), album, :class => "content"
