
.signup-page
  %h2.explanation-text 納品ページ
  .formContainer
    %h2  新しいアルバム
    = render 'form', {order: @order_id,album: @album}
    = link_to "戻る", admin_orders_path, class: 'btn btn-primary album-back'
