<div class="container" >
  <div class="row">
    <p>依頼番号</p>
    <% @album.photographs.each do |photo|%>
      <%= link_to image_tag(photo.url) , photo.url%>
    <% end %>
  </div>
</div>
<%= link_to "編集", edit_album_path(@album) %>
<%= link_to "削除", method: :delete, confirm: 'Are you sure?' %>
<%= link_to "戻る", albums_path %>
