// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  width: 100%;
  padding: 28px 0 10px;
  box-shadow: 0 0 10px 1px #e3e3e3;
}
.global-nav {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.global-nav .nav-item {
  display: inline-block;
  maring: 0 10px;
}
.global-nav .nav-item a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.15s;
  text-decoration: none;
}
.global-nav .nav-item a:hover {
  background-color: #d03c56;
  color: #fff;
}
.index_header {

}
.index_title {
  text-align: center;
  letter-spacing: 1px;
  padding-left: 80px;

}
.content {
  display: inline-block;
  margin: 0 auto;
}
.album-back {
  margin-top: 15px;
}
.input-nohin {
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background:rgba(255,255,255,0.2);
}
.input-nohin:hover {
  background:#0aa;
  transition: .3s;
}
.content {
  display: inline-block;
  border: 2px dotted;
}
.content:nth-child(2n) {
  float: right;
}
.content:nth-child(2n+1) {
  float: left;
}
