// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import "albums.scss";
@import "home.scss";
@import "users.scss";
@import "order.scss";
@import "sidebar.scss";

//*= require home
//注意点
//- Sassファイルでは*= require、*= require_treeを削除する
//- Sassファイルではインポートに@importを利用する
//- Sassファイルで*= requireを利用すると他のスタイルシートではBootstrapのmixinや変数を利用できなくなる
