.error_explanation {
  padding: 12px;
  font-weight: 850px;
  color: "#262626";
  background: #FFEBE8;
  border: 2px solid #990000;
}
.admin-botton {
  margin: 15px;
}
.table-order {
  margin:0 auto;
}
.btn-back {
  margin-left: 150px;
  margin-top: 15px;
}
