// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-page {
  text-align: center;
}
.explanation-text {
  font-size: 20px;
  margin-bottom: 30px;
  padding-top: 15px;
}

.formContainer {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e4e6e8;
    background: #FFF;
}
.user_index {
  float: right;
  margin-top: 0px;
  padding-top: 0px;
}
