<% if @order.nil? %>
<% elsif @order.errors.any? %>
  <div class="error_explanation">
    <h2><%= @order.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
